aside {
    float: left;
    background: grey;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff
    border-right: 5px solid #4d4d4d
}
aside img{
    width: 80px;
    float: left;
}
aside .logo{
    font-size: 40px;
    margin-left: 0px;
    font-weight: bold;
}
main .features{
    text-align: center;
}
